<div class="navbar navbar-default navbar-static-top navbar-main" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">site-manger</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li class="visible-xs">
            <a href="#" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
                <span class="sr-only">导航切换</span>
                <i class="fa fa-bars"></i>
            </a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle avatar pull-right" data-toggle="dropdown">
                <span class="hidden-small">管理员<b class="caret"></b></span>
            </a>
            <ul class="dropdown-menu pull-right">
                <li><a href="#"><i class="fa fa-gear"></i>帐号设置</a></li>
                <li class="divider"></li>
                <li><a href="/logout"><i class="fa fa-sign-out"></i>退出登录</a></li>
            </ul>
        </li>
        </ul>
</div>
