<body class="cover">
<div class="wrapper">

    <!-- HEAD NAV -->
    <% include shared/navbar.html %>
    <!-- END: HEAD NAV -->

    <!-- BODY -->
    <div class="body">
        <!-- SIDEBAR -->
        <% include shared/sidebar.html %>
        <!-- END: SIDEBAR -->
    <section class="content">      
		<ol class="breadcrumb">
		    <li class="active"><i class="fa fa-home fa-fw"></i> Home</li>
		</ol>
		<div class="header">
			<div class="col-md-12">
				<h3 class="header-title">仪表盘</h3>
				<p class="header-info">网站数据概览</p>
			</div>
		</div>

<!-- CONTENT -->
		<div class="main-content">

		</div>
<!-- END: CONTENT -->
    </section>
    </div>
    <!-- END: BODY -->
</div>